.footer {
    &-top {
        padding: 77px 0 75px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @include tablet {
            padding: 50px 0 40px;
        }
        @include mobile {
            padding: 40px 0 30px;
        }

        &__contact {
            position: relative;
            top: -20px;
            display: flex;
            flex-direction: column;
            grid-gap: 25px;

            span {
                padding-right: 25px;
            }

            @include tablet {
                grid-column: span 2;
                justify-content: center;
                align-items: center;
                padding-left: 15px;
                grid-gap: 30px;
                order: 1;
                top: -30px;
            }

            @include mobile {
                order: 0;
                grid-column: span 4;
                align-items: center;
                grid-gap: 5px;
            }

            &-item {
                font-family: var(--font-family);
                font-style: normal;
                font-weight: 400;
                font-size: clamp(14px, 1.25vw, 18px);
                line-height: 160%;
                color: var(--color-a);

                @include mobile {
                    text-align: center;
                }

            }

            &-telephone {
                display: flex;
                flex-direction: row;
                align-items: center;
                grid-gap: 15px;
                font-family: var(--font-family);
                font-style: normal;
                font-weight: 400;
                font-size: clamp(14px, 1.25vw, 18px);
                line-height: 150%;
                text-align: center;
                color: var(--color-a);
                transition: all .4s;

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        &__categories {
            display: flex;
            flex-direction: column;
            grid-gap: 20px;
            @include tablet {
                order: 2;
            }
            @include mobile {
                grid-column: span 2;
                align-items: center;
                justify-content: center;
            }
            &-text {
                font-family: var(--font-family);
                font-style: normal;
                font-weight: 400;
                font-size: clamp(18px, 1.667vw, 24px);
                line-height: 150%;
            }

            &-list {
                display: flex;
                flex-direction: column;
                grid-gap: 20px;
            }
            &-item {
                font-family: var(--font-family);
                font-style: normal;
                font-weight: 400;
                font-size: clamp(14px, 1.25vw, 18px);
                line-height: 150%;
                &:hover {
                    opacity: .8;
                }
            }
        }

        
    

        &__follow {
            display: flex;
            flex-direction: column;
            grid-gap: 45px;

            font-family: var(--font-family);
            font-style: normal;
            font-weight: 400;
            font-size: clamp(18px, 1.667vw, 24px);
            line-height: 150%;
            color: var(--color-a);

            @include tablet {
                align-items: center;
                padding-top: 25px;
                grid-gap: 15px;
                grid-column: span 4;
                order: 2;
            }

            @include mobile {
                padding-top: 15px;
                grid-gap: 10px;
            }
        }
    }

    &-bottom {
        position: relative;
        text-align: center;
        padding: 30px 0 40px;
        &::after {
            position: absolute;
            content: '';
            opacity: 0.4;
            border: 1px solid var(--color-a);
            top: 0px;
            left: 0;
            width: 100%;
    
            @include mobile {
                top: 0px;
            }
        }
        @include tablet {
            padding: 30px 0 40px;
        }
    
        @include mobile {
            padding: 15px 0 20px;
        }
        &__copyright {
            font-family: var(--font-family4);
            font-style: normal;
            font-weight: 400;
            font-size: clamp(14px, 1.111vw, 16px);

            line-height: 160%;
            color: var(--color-a);

        

        }
    }
}

