.headerFix {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    grid-gap: 20px;

    @include mobile {
        display: grid;
        grid-template-columns: repeat(3, auto);
    }

    &-list {
        display: flex;
        align-items: center;
        grid-gap: 50px;

        @include mobile {
            display: none;
        }

        &__item {
            font-family: var(--font-family2);
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: var(--color-h);
            display: flex;
        }

        &__link {
            width: 100%;
            white-space: nowrap;
        }
    }

    &-logo {
        display: flex;
        @include mobile {
            display: none;
        }
    }

    &-mobileLogo {
        display: none;
        @include mobile {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &-adress {
        display: flex;
        align-items: center;

        @include mobile {
            display: none;
        }

        &__location {
            margin-top: -10px;
        }

        &__city {
            font-family: var(--font-family2);
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: var(--color-h);
        }
    }

    &-icons {
        width: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        grid-gap: 10px;
        position: relative;
        padding-right: 10px;

        &__amount {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--color-g);
            width: 20px;
            height: 20px;
            border-radius: 50%;

            font-family: var(--font-family2);
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            text-align: center;
            color: var(--color-a);
            bottom: 0px;
            right: 0px;
            transform: translateY(50%);
        }
    }

    &__burger {
        position: relative;
        width: 34px;
        height: 26px;
        left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        opacity: 1;

        @include for-mobile {
            display: none;
        }

        @include mobile {
            order: -1;
            display: flex;
        }


        span {
            width: 100%;
            height: 3px;
            border-radius: 2px;
            background-color: var(--color-b);
            transition: all 0.4s;
        }

        &.active {
            position: absolute;
            top: 30px;
            left: 90%;
            z-index: 200;

            span {
                position: absolute;
                width: 70%;
                background-color: var(--color-a);
                top: 20px;

                &:nth-child(2) {
                    display: none;
                }

                &:first-child {
                    top: 50%;
                    rotate: 45deg;
                }

                &:last-child {
                    rotate: -45deg;
                    top: 50%;
                }
            }
        }
    }
}