.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    grid-gap: 20px;

    &-list {
        display: flex;
        align-items: center;
        grid-gap: 50px;

        &__item {
            font-family: var(--font-family2);
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: var(--color-h);
        }
    }

    &-adress {
        display: flex;
        align-items: center;

        &__location {
            margin-top: -10px;
        }

        &__city {
            font-family: var(--font-family2);
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: var(--color-h);
        }
    }

    &-icons {
        height: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        grid-gap: 10px;
        position: relative;

        &__amount {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--color-k);
            width: 20px;
            height: 20px;
            border-radius: 50%;

            font-family: var(--font-family2);
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            text-align: center;
            color: var(--color-a);
            bottom: 0px;
            right: -10px;
            transform: translateY(50%);
        }
    }
}