.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    grid-gap: 20px;

    &-list {
        display: flex;
        align-items: center;
        grid-gap: 50px;

        &__item {
            font-family: var(--font-family2);
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: var(--color-h);
        }
    }

    &-adress {
        display: flex;
        align-items: center;

        &__location {
            margin-top: -10px;
        }

        &__city {
            font-family: var(--font-family2);
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: var(--color-h);
        }
    }

    &-icons {
        height: fit-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        grid-gap: 10px;
        position: relative;

        &__amount {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--color-k);
            width: 20px;
            height: 20px;
            border-radius: 50%;

            font-family: var(--font-family2);
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            text-align: center;
            color: var(--color-a);
            bottom: 0px;
            right: -10px;
            transform: translateY(50%);
        }
    }

    &__burger {
        position: relative;
        width: 40px;
        height: 26px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        opacity: 1;
        @include for-tablet {
            display: none;
        }
        @include tablet {
            order: -1;
            display: flex;
        }
        @include mobile {
            // width: 25px;
            // height: 18px;
        }
        span {
            width: 100%;
            height: 2px;
            border-radius: 2px;
            background-color: var(--color-b);
            transition: all 0.4s;
        }
        &.active {
            @include tablet {
                top: 0px;
                right: -10px;
                z-index: 200;
            }
            span {
                position: absolute;
                width: 70%;
                &:nth-child(2){
                    display: none;
                }
                &:first-child {
                    top: 50%;
                    rotate: 45deg;
                }
                &:last-child {
                    rotate: -45deg;
                    top: 50%;
                }
            } 
       }
    }
}
