.index-offer {
    padding-top: 72px;
}

.offer-btn {
    width: 15px;
    height: 28px;
    position: absolute;
    background-image: url(/img/sprite/popularbtn.svg);
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 10;
    background-size: cover;
    right: -20px;
    top: 60%;
    transform: translateY(-50%);

    &--mode {
        transform: translateY(-50%) rotate(180deg);
        right: initial;
        left: -30px;
    }
}

.offer-pagination {
    @include for-mobile {
        display: none;
    }

    @include mobile {
        bottom: -25px;
    }

    .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        background-color: var(--color-f);
        border: none;
    }

    .swiper-pagination-bullet-active {
        background-color: var(--color-g);
    }
}
