.index-search {
    padding-top: 88px;
}

.default-class {
    display: flex;
    flex-direction: column;
    grid-gap: 35px;
}

.search-product {
    width: 100%;

    &__label {
        display: flex;
        width: 100%;
        background-color: var(--color-d);
        border-radius: 3px;
    }

    &__input {
        border: none;
        background-color: var(--color-d);
        border-radius: 3px;
        padding: 15px 20px;
    }
}

.search-list {
    display: flex;
    align-items: center;
    grid-gap: 60px;

    &__button {
        font-family: var(--font-family2);
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: var(--color-h);

        &.active {
            padding: 12px 26px;
            background-color: var(--color-d);
            border-radius: 5px;
            font-family: var(--font-family2);
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: var(--color-h);
        }
    }
}