.index-popular {
    padding-top: 80px;

    &__box {
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
    }
}

.popular-box {
    width: 100%;
}

.popular-btn {
    width: 15px;
    height: 28px;
    position: absolute;
    background-image: url(/img/sprite/popularbtn.svg);
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 10;
    background-size: cover;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);

    &--mode {
        transform: translateY(-50%) rotate(180deg);
        right: initial;
        left: -30px;
    }
}

.popular-pagination {
    @include for-mobile {
        display: none;
    }


    @include mobile {
        bottom: 75px;
    }

    .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        background-color: var(--color-f);
        border: none;
    }

    .swiper-pagination-bullet-active {
        background-color: var(--color-g);
    }

    .swiper-pagination-bullets {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 11px;
        display: flex;
        grid-gap: 9px;
        align-items: center;
        justify-content: center;
        align-self: center;
        z-index: 10;
    
        @include mobile {
            bottom: 70px;
        }
    }
}