.index-first {
    position: relative;
    background-color: var(--color-b);
    background-repeat: repeat-x;
    background-position: top left;
    background-size: auto;
    @include mobile {
        &:before {
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            bottom: 0;
            left:0;
            backdrop-filter: blur(3px);
            opacity: 1;
            @include mobile {
                &:before {
                    opacity: 1;
                }
            }
        }
    }
}
.container-mask {
    padding-top: calc(clamp(10px, 8.333vw, 120px) + var(--header-height));
    padding-bottom: clamp(40px, 7.639vw, 110px);
    max-width: 1600px;
    margin: 0 auto;
    background-image: url(/img/sectionF/image1.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: bottom right;
    @include tablet {
        background-position: bottom right;
        background-size: 65%;
    }
    @include mobile {
        background-size: 100%;
        
    }
}

.first-top {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(15px, 1.736vw, 25px);
    @include laptop {
        padding: 0 20px;
    }
    &__title{
        font-family: var(--font-family2);
        font-style: normal;
        font-weight: 600;
        font-size: clamp(32px, 4.028vw, 58px);
        line-height: 130%;
        text-align: start;
        color: var(--color-a);
        @include mobile {
            text-align: center;
            line-height: 110%;
        }
    }

    &__about{
        max-width: 610px;
        font-family: var(--font-family);
        font-style: normal;
        font-weight: 400;
        font-size: clamp(14px, 1.389vw, 20px);
        line-height: 160%;
        text-align: start;
        color: var(--color-a);
        opacity: .7;
        @include tablet {
            line-height: 110%;
            opacity: 1;
            max-width: 250px;
        }
        @include mobile {
            text-align: center;
            max-width: 610px;
        }
    }
    a {
        @include mobile {
            align-self: center;
            max-width: 610px;
        }
    }
}