.index-popular {
    padding-top: 80px;
    &__box {
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
    }
}
.popular-box {
    width: 100%;
}
.popular-btn {
    width: 15px;
    height: 28px;
    position: absolute;
    background-image: url(/img/sprite/popularbtn.svg);
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 10;
    background-size: cover;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.swiper-button-next1 {
    transform: translateY(-50%) rotate(180deg);
    left: 0px;
    right: initial;
}
