<footer>
  <div class="container">
    <div class="footer">
      <div class="footer-top">
        <div class="footer-top__contact">
          <a href="#"><svg width="138" height="58">
              <use href="img/sprite/sprite.svg#coffee"></use>
            </svg></a>
          <span class="footer-top__contact-item">Creating a catchy tagline coffee shop business growth.</span>
          <a class="footer-top__contact-telephone"><svg width="24" height="20">
              <use href="img/sprite/sprite.svg#tel"></use>
            </svg><span>+8801742-527137</span></a>
        </div>
        <div class="footer-top__categories">
          <span class="footer-top__categories-text">CATEGORIES</span>
          <ul class="footer-top__categories-list">
            <li class="footer-top__categories-item">
              <a class="categories-list__item-link">Ashley Szekeres Art</a>
            </li>
            <li class="footer-top__categories-item">
              <a class="categories-list__item-link">Merchandise</a>
            </li>
            <li class="footer-top__categories-item">
              <a class="categories-list__item-link">Gift Certificates</a>
            </li>
          </ul>
        </div>
        <div class="footer-top__categories">
          <span class="footer-top__categories-text">INFORMATION</span>
          <ul class="footer-top__categories-list">
            <li class="footer-top__categories-item">
              <a class="categories-list__item-link">Coffee Beans</a>
            </li>
            <li class="footer-top__categories-item">
              <a class="categories-list__item-link">Contact Us</a>
            </li>
            <li class="footer-top__categories-item">
              <a class="categories-list__item-link">Blog</a>
            </li>
          </ul>
        </div>
        <div class="footer-top__follow">
          <p>FOLLOW US</p>
          <ul class="social-links">
            <li class="social-links__item">
              <a href="#"><svg width="20" height="17">
                  <use href="img/sprite/sprite.svg#twit"></use>
                </svg></a>
            </li>
            <li class="social-links__item">
              <a href="#"><svg width="11" height="18">
                  <use href="img/sprite/sprite.svg#facebook"></use>
                </svg></a>
            </li>
            <li class="social-links__item">
              <a href="#"><svg width="18" height="18">
                  <use href="img/sprite/sprite.svg#inst"></use>
                </svg></a>
            </li>

            <li class="social-links__item">
              <a href="#"><svg width="18" height="17">
                  <use href="img/sprite/sprite.svg#in"></use>
                </svg></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <span class="footer-bottom__copyright">Copyright © 2021 Coffee, All rights reserved. Present by MoxCreative.
        </span>
      </div>
    </div>
  </div>
</footer>