<header>
  <div class="container">
    <div class="header">
      <ul class="header-list">
        <li class="header-list__item"><a class="header-list__link" href="#">Магазины</a></li>
        <li class="header-list__item"><a class="header-list__link" href="#">Акции</a></li>
        <li class="header-list__item"><a class="header-list__link" href="#">Доставка и оплата</a></li>
      </ul>
      <a href="index.html" class="header-logo">
        <svg width='80' height='76'>
          <use href='img/sprite/sprite.svg#drivemoto'></use>
        </svg>
      </a>
      <a href="index.html" class="header-mobileLogo">
        <svg width='82' height='25'>
          <use href='img/sprite/sprite.svg#moblogo'></use>
        </svg>
      </a>
      <div class="header-adress">
        <span class="header-adress__location"><svg width='30' height='30'>
            <use href='img/sprite/sprite.svg#locate'></use>
          </svg></span>
        <span class="header-adress__city">Киев, ул Шевченко 167</span>
      </div>
      <ul class="header-icons">
        <li class="header-icons__item">
          <a href="" class="header-icons__link"><svg width='24' height='22'>
              <use href='img/sprite/sprite.svg#like'></use>
            </svg></a>
        </li>
        <li class="header-icons__item">
          <a href="" class="header-icons__link"><svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#head'></use>
            </svg></a>
        </li>
        <li class="header-icons__item">
          <a href="" class="header-icons__link"><svg width='30' height='22'>
              <use href='img/sprite/sprite.svg#backet'></use>
            </svg></a><span class="header-icons__amount">1</span>
        </li>
      </ul>
      <div class="header__burger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    </div>
    <div class="mobile-menu">
      <ul class="mobile-menu__list">
        <li class="mobile-menu__item">
          <span class="mobile-menu__icon">
            <svg width='20' height='20'>
              <use href='img/sprite/sprite.svg#head'></use>
            </svg>
          </span>
          <a class="mobile-menu__link" href="#">Войти</a>
        </li>
        <li class="mobile-menu__item">
          <span class="mobile-menu__icon">
            <svg width='20' height='20'>
              <use href='img/sprite/sprite.svg#head'></use>
            </svg>
          </span>
          <a class="mobile-menu__link" href="#">Регистрация</a>
        </li>
        <li class="mobile-menu__item">
          <span class="mobile-menu__icon">
            <svg width='20' height='19'>
              <use href='img/sprite/sprite.svg#like'></use>
            </svg>
          </span>
          <a class="mobile-menu__link" href="#">Избранное</a>
        </li>
        <li class="mobile-menu__item">
          <span class="mobile-menu__icon">
            <svg width='30' height='22.5'>
              <use href='img/sprite/sprite.svg#backet'></use>
            </svg>
          </span>
          <a class="mobile-menu__link" href="#">Корзина</a>
        </li>
        <li class="mobile-menu__item">
          <span class="mobile-menu__icon">
            <svg width='16' height='19.2'>
              <use href='img/sprite/sprite.svg#home'></use>
            </svg>
          </span>
          <a class="mobile-menu__link" href="#">Магазины</a>
        </li>
        <li class="mobile-menu__item">
          <span class="mobile-menu__icon">
            <svg width='17' height='26'>
              <use href='img/sprite/sprite.svg#%'></use>
            </svg>
          </span>
          <a class="mobile-menu__link" href="#">Акции</a>
        </li>
        <li class="mobile-menu__item">
          <span class="mobile-menu__icon">
            <svg width='16' height='15'>
              <use href='img/sprite/sprite.svg#present'></use>
            </svg>
          </span>
          <a class="mobile-menu__link" href="#">Доставка и оплата</a>
        </li>
        <li class="mobile-menu__item">
          <span class="mobile-menu__icon"></span>
          <a class="mobile-menu__link" href="index2.html">Квадроциклы</a>
        </li>
        <li class="mobile-menu__item">
          <span class="mobile-menu__icon"></span>
          <a class="mobile-menu__link" href="index2.html">Катера</a>
        </li>
        <li class="mobile-menu__item">
          <span class="mobile-menu__icon"></span>
          <a class="mobile-menu__link" href="index2.html">Гидроциклы</a>
        </li>
        <li class="mobile-menu__item">
          <span class="mobile-menu__icon"></span>
          <a class="mobile-menu__link" href="index2.html">Лодки</a>
        </li>
        <li class="mobile-menu__item">
          <span class="mobile-menu__icon"></span>
          <a class="mobile-menu__link" href="index2.html">Вездеходы</a>
        </li>
        <li class="mobile-menu__item">
          <span class="mobile-menu__icon"></span>
          <a class="mobile-menu__link" href="index2.html">Снегоходы</a>
        </li>
        <li class="mobile-menu__item">
          <span class="mobile-menu__icon"></span>
          <a class="mobile-menu__link" href="index2.html">Двигатели</a>
        </li>
        <li class="mobile-menu__item">
          <span class="mobile-menu__icon"></span>
          <a class="mobile-menu__link" href="index2.html">Запчасти</a>
        </li>
      </ul>
      <span class="header-adress__city">Москва,<br> ул. Науки 25</span>
    </div>
  </div>
</header>