<header>
    <div class="container">
        <div class="header">
            <nav class="header-list">
                <a class="header-list__link" href="#">Магазины</a>
                <a class="header-list__link" href="#">Акции</a>
                <a class="header-list__link" href="#">Доставка и оплата</a>
            </nav>
            <div class="header-logo">
    
            </div>
            <div class="header-adress">
                <span class="header-adress__location">svg</span>
                <span class="header-adress__city">Москва, ул. Науки 25</span>
            </div>
            <ul class="header-icons">
                <li class="header-icons__link">svg</li>
                <li class="header-icons__link">svg</li>
                <li class="header-icons__link">svg</li>
            </ul>

        </div>
        <div class="mobile-menu">

        </div>
    </div>
</header>