<header>
    <div class="container">
        <div class="header">
            <div class="logo">
                <a class="header-logo" href="#"><svg width='130' height='50'>
                        <use href='img/sprite/sprite.svg#coffee'></use>
                    </svg></a>
            </div>
            <nav class="header-nav">
                <ul class="header-nav__list">
                    <li class="header-nav__item"><a class="header-nav__link active" href="#">Home</a></li>
                    <li class="header-nav__item"><a class="header-nav__link" href="#">About Us</a></li>
                    <li class="header-nav__item"><a class="header-nav__link" href="#">Menu</a></li>
                    <li class="header-nav__item"><a class="header-nav__link" href="#">Review</a></li>
                    <li class="header-nav__item"><a class="header-nav__link" href="#">Contact</a></li>
                </ul>
            </nav>
            <div class="header-search">
                <a class="header-search__look" href="#"></a></li>
                <a class="header-search__buy" href="#"></a></li>
            </div>
            <div class="header__burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="mobile-menu">
            <div class="logo">
                <a class="header-logo" href="#">
                    <picture>
                        <source type='image/webp' srcset='img/sectionF/logo.webp'>
                        <img width='100' height='100' src='img/sectionF/logo.png' alt='image'>
                      </picture>
                </a>
            </div>
            <nav class="header-nav">
                <ul class="header-nav__list">
                    <li class="header-nav__item"><a class="header-nav__link active" href="#">Home</a></li>
                    <li class="header-nav__item"><a class="header-nav__link" href="#">About Us</a></li>
                    <li class="header-nav__item"><a class="header-nav__link" href="#">Menu</a></li>
                    <li class="header-nav__item"><a class="header-nav__link" href="#">Review</a></li>
                    <li class="header-nav__item"><a class="header-nav__link" href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>