.bannerCard {
    &-box {
        position: relative;
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: var(--color-g);
        padding: clamp(5px, 1.736vw, 25px) clamp(5px, 4.861vw, 70px);

        @include tablet {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 40px 1fr;
        }
    }

    &-images {
        display: flex;
        align-items: center;
        justify-content: center;

        @include tablet {
            display: none;
        }
    }

    &-imageL {
        @include for-tablet {
            display: none;
        }

        @include tablet {
            max-width: 175px;
            max-height: 116px;
            order: 1;
            padding-right: 12px;
        }
    }

    &-imageR {
        align-self: flex-end;
        justify-self: end;

        @include for-tablet {
            display: none;
        }

        @include tablet {
            order: 4;
            padding-left: 12px;
        }
    }


    &-title {
        font-family: var(--font-family2);
        font-style: normal;
        font-weight: 700;
        font-size: clamp(18px, 2.5vw, 36px);
        line-height: 36px;
        color: var(--color-a);
        max-width: 300px;

        @include tablet {
            max-width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            grid-column: span 3;
            order: 0;
        }
    }

    &-link {
        font-family: var(--font-family2);
        font-style: normal;
        font-weight: 500;
        font-size: clamp(14px, 1.667vw, 24px);
        line-height: clamp(25px, 3.472vw, 50px);
        text-align: right;
        color: var(--color-h);
        padding: 5px 13px;
        background-color: var(--color-a);
        transition: all .4s;

        @include tablet {
            text-align: center;
            white-space: nowrap;
        }

        &:hover {
            opacity: .9;
        }
    }

    &-btn {
        @include tablet {
            display: flex;
            align-items: center;
            justify-content: center;
            order: 3;
        }
    }
}