.gidrotsykl {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    grid-gap: 15px;

    &-sale {
        font-family: var(--font-family2);
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.12em;
        color: var(--color-a);

        width: 94px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 13px 25px;
        background-color: var(--color-g);
        border-radius: 3px;
    }

    &-image {
        max-width: 500px;
        max-height: 375px;
    }

    &-price {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__top {
            position: relative;
            font-family: var(--font-family);
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 36px;
            color: var(--color-h);

            opacity: 0.6;

            &::before {
                content: "";
                border-bottom: 1px solid var(--color-h);
                position: absolute;
                width: 100%;
                height: 50%;
                transform: rotate(-10deg);
                opacity: 1;
            }
        }

        &__bottom {
            font-family: var(--font-family);
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 48px;
            color: var(--color-h);
        }
    }

    &-question {
        position: relative;
        align-items: center;
        justify-content: center;
        font-family: var(--font-family2);
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: var(--color-g);

        &:hover {
            opacity: .8
        }

        &--mode {
            &::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 1px;
                bottom: -1px;
                background-color: var(--color-g);

                &:hover {
                    opacity: .8;
                }
            }
        }

        &--grey {
            font-family: var(--font-family2);
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            color: var(--color-f);

            &::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 1px;
                bottom: -1px;
                background-color: var(--color-f);

                &:hover {
                    opacity: .8;
                }
            }
        }
    }
}