.social-links {
    display: flex;
    flex-direction: row;
    grid-gap: clamp(25px, 2.778vw, 40px);
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border: 1px solid var(--color-g);
        border-radius: 50%;
        background-color: transparent;
        transition: all .4s;
        &:hover {
            transform: scale(1.05);
        }
    }
}